<div class="container mt-5 text-center" > 
    <div class="card text-white bg-dark mb-3" style="max-width: 54rem;">
        
        <h5 class="card-header text-center">USER DETAILS</h5><hr>
        <div class="card-body">
          <h5 class="card-title">NAME :  &nbsp;  &nbsp;  &nbsp;{{userDetails.name|uppercase}}</h5>
          <h5 class="card-title">ADDRESS :   &nbsp;  &nbsp;  &nbsp; {{userDetails.address|uppercase}}</h5>      
          <h5 class="card-title">MOBILE NO :   &nbsp;  &nbsp;  &nbsp; {{userDetails.moNumber|uppercase}}</h5>    
         <button class="btn btn-light mt-5"routerLink="/all-Projects">Back</button>
     </div>


</div>

